html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    color: #1f1f1f;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p {
    font-size: 16px;
    font-weight: 300
}

label {
    color: #988084;
}

input {
    color: #988084;
    border: 1px solid #988084;
    height: 25px;
}

input:focus-visible {
    outline-color: #ff9999;
}

textarea {
    color: #988084;
    border: 1px solid #988084;
    height: 25px;
}

textarea:focus-visible {
    outline-color: #ff9999;
}

h2 {
    color: #ffafb8;
    font-size: 20px;
}